{% from "./cohortListFunctions.njk" import sortableTableHeader, supportNeeded, readyToWork, supportDeclined, noRightToWork, notStarted %}
{% from "./cohortListStatus.njk" import statusTag %}

{# ------------------------------------------------------------- #}
{# Present list of offenders table pre-filtered based on choices #}
{# ------------------------------------------------------------- #}
{% macro offenderList(offenders) %}
    <div id="offender-container">
        <table id="view-offender" class="govuk-table view-offender">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">

                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "lastName",
                    headerText: "Prisoner"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "releaseDate",
                    headerText: "Release type and date"
                }) }}
                <th scope="col" class="govuk-table__header sortable">Status</th>
                <th scope="col" class="govuk-table__header">Work summary</th>
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "updatedOn",
                    headerText: "Updated on"
                }) }}
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% set rowClass = cycler("odd", "even") %}

            {% for offender in offenders %}

                <tr class="govuk-table__row {{ rowClass.next() }}">
                    {% set quickLookUrl = dpsUrl + '/offenders/' + offender.prisonerNumber + '/quick-look' %}
                    <td class="govuk-table__cell">
                        <a href="{{ quickLookUrl }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           data-qa="quick-look-link"
                           class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ offender.displayName }}</a>
                        </br><span class="govuk-hint govuk-!-margin-bottom-0">{{ offender.prisonerNumber }}</span>
                    </td>
                    <td class="govuk-table__cell">{{ offender.nonDtoReleaseDateType or '' }}
                        <p>{{ offender.releaseDate or 'N/A' }}</p>
                    </td>
                    <td class="govuk-table__cell"> {{ statusTag(offender.status) }}</td>
                    {% if offender.status == 'SUPPORT_NEEDED' %}
                        {{ supportNeeded(offender) }}
                    {% elseif offender.status == 'READY_TO_WORK' %}
                        {{ readyToWork(offender) }}
                    {% elseif offender.status == 'SUPPORT_DECLINED' %}
                        {{ supportDeclined(offender) }}
                    {% elseif offender.status == 'NO_RIGHT_TO_WORK' %}
                        <td {{ noRightToWork(offender) }}</td>
                    {% elseif offender.status == 'NOT_STARTED' %}
                        <td {{ notStarted(offender) }}</td>
                    {% else %}
                        <td class="govuk-table__cell">'N/A'</td>
                    {% endif %}
                    <td class="govuk-table__cell">{{ offender.updatedOn or 'N/A' }}</td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>
{% endmacro %}



