{#  -------------------------------------------------------------
    Sortable column header with button for posting sort value
    Config values
        sort - sort field value, fieldname to be sorted on
        order - order field value, ( ascending, descending, none)
        formName - html name property of form to be submitted
        fieldName - field name of this column
        headerText - Display text for table header
    ------------------------------------------------------------- #}
{% macro sortableTableHeader(config) %}
    <th scope="col" class="govuk-table__header" aria-sort="{{ config.order if config.sort === config.fieldName else 'none' }}" data-qa="{ config.fieldName }}-column-header">
        <button type="submit" class="sortable-table-header__button" aria-label="Sort by {{ config.headerText }}" form="{{ config.formName }}" id="{{ config.fieldName }}-sort-action" name='sortAction' value="{{ config.fieldName }}">
            {{ config.headerText }}
            <span class="govuk-visually-hidden">
                {% if config.sort == config.fieldName %}
                    {% if config.order == "asc" %}
                        (ascending)
                    {% else %}
                        (descending)
                    {% endif %}
                {% else %}
                    (not sorted)
                {% endif %}
            </span>
        </button>
    </th>
{% endmacro %}

{% macro supportNeeded(offender, contentLookup) %}
    {% set summary = offender.supportNeeded %}
    <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-margin-bottom-1">Needs help with:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for item in summary %}
                <li>
                    <span class="govuk-!-font-weight-regular">{{ contentLookup[item] }}</span>
                </li>
            {% endfor %}
        </ul>
    </td>
{% endmacro %}

{% macro readyToWork(offender, contentLookup) %}
    {% set summary = offender.workTypeInterests %}
    <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-margin-bottom-1">Looking for work in:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for item in summary %}
                <li>
                    <span class="govuk-!-font-weight-regular">{{ contentLookup[item] }}</span>
                </li>
            {% endfor %}
        </ul>
    </td>
{% endmacro %}

{% macro supportDeclined(offender, contentLookup) %}
    {% set summary = offender.supportDeclinedReasons %}
    <td class="govuk-table__cell">
        <p class="govuk-body govuk-!-margin-bottom-1">Reason:</p>
        <ul class="govuk-list govuk-list--bullet">
            {% for item in summary %}
                <li>
                    <span class="govuk-!-font-weight-regular">{{ contentLookup[item] }}</span>
                </li>
            {% endfor %}
        </ul>
    </td>
{% endmacro %}

{% macro noRightToWork(offender) %}
    {% set value = offender.noRightToWork %}
    <td class="govuk-table__cell">{{ value if value else 'N/A' }}</td>
{% endmacro %}

{% macro notStarted(offender) %}
    {% set value = offender.notStarted %}
    <td class="govuk-table__cell">{{ value if value else 'N/A' }}</td>
{% endmacro %}