{# Tab macro to display the correct colour for a given status, defaults to grey #}
{% macro statusTag(status) %}
    {%
        set statusColourLookup = {
        'NOT_STARTED': 'red',
        'SUPPORT_NEEDED': 'yellow',
        'READY_TO_WORK': 'green',
        'COMPLETED': 'green',
        'IN_PROGRESS': 'yellow'
    }
    %}
    {%
        set statusLookup = {
        'NOT_STARTED': 'Not started',
        'SUPPORT_NEEDED': 'Needs support',
        'READY_TO_WORK': 'Ready to work',
        'COMPLETED': 'Completed',
        'NO_RIGHT_TO_WORK': 'No right to work',
        'SUPPORT_DECLINED': 'Does not want support',
        'IN_PROGRESS': 'In progress'
    }
    %}
    {%
        set colour = statusColourLookup[status]
    %}
    <strong class="govuk-tag govuk-tag--{{ colour if colour else 'grey' }}">{{ statusLookup[status] }}</strong>
{% endmacro %}