{% if profile.profileData.supportAccepted and profile.profileData.supportAccepted.workImpacts %}
  <section class="app-summary-card govuk-!-margin-bottom-6">
    <header class="app-summary-card__header">
      <h3 class="app-summary-card__title">
        Things that might affect their ability to work
      </h3>
    </header>

    <div class="app-summary-card__body">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            May be affected by
          </dt>
          <dd class="govuk-summary-list__value" data-qa="ability-to-work">
            {% for item in profile.profileData.supportAccepted.workImpacts.abilityToWorkImpactedBy %}
              <div>{{ contentLookup.fields.abilityToWork[item] }}{{ ',' if profile.profileData.supportAccepted.workImpacts.abilityToWorkImpactedBy.length !== loop.index }}</div>
            {% endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state"data-qa="ability-to-work-link"  href="{{ addressLookup.createProfile.abilityToWork(id, 'update') + '?from=' + originalUrl }}">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        {% if profile.profileData.supportAccepted.workImpacts.abilityToWorkImpactedBy.includes('DEPENDENCY_ISSUES') %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug or alcohol dependency
            </dt>
            <dd class="govuk-summary-list__value" data-qa="ability-to-work-dependency">
              {{ contentLookup.fields.manageDrugsAndAlcohol["ABLE_TO_MANAGE"] if profile.profileData.supportAccepted.workImpacts.ableToManageDependencies else contentLookup.fields.manageDrugsAndAlcohol["NOT_ABLE_TO_MANAGE"] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" data-qa="ability-to-work-dependency-link" href="{{ addressLookup.createProfile.manageDrugsAndAlcohol(id, 'update') + '?from=' + originalUrl }}">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
        </div>
      </dl>

      <p class="app-summary-card__hint">Last updated {{ profile.profileData.supportAccepted.workImpacts.modifiedDateTime }} by {{ profile.profileData.supportAccepted.workImpacts.modifiedByName }}</p>
    </div>
  </section>
{% endif %}