{%- from "moj/components/alert/macro.njk" import mojAlert -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Contacts</h2>

    {% if contacts.keyworker and not (contacts.keyworker.success | default(false)) %}
      <div class="hmpps-api-error-banner">
        <p>Important</p>
        <p>Contacts information is not available right now. Reload the page or try again later.</p>
      </div>
      <br/>
    {% endif %}

    {% if contacts.com %}
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            Community Offender Manager (COM)
          </h3>
        </header>

        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ contacts.com.firstName }} {{ contacts.com.lastName }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if contacts.com.email %}
                  <a href="mailto: {{ contacts.com.email }}">{{ contacts.com.email }}</a>
                {% else%}
                  Not entered
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    {% endif %}

    {% if contacts.keyworker %}
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            Key worker
          </h3>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
               {{ contacts.keyworker.firstName }} {{ contacts.keyworker.lastName }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {% if contacts.keyworker.email %}
                  <a href="mailto: {{ contacts.keyworker.email }}">{{ contacts.keyworker.email }}</a>
                {% else%}
                  Not entered
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    {% endif %}

    {% if contacts.pom %}
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h3 class="app-summary-card__title">
            Prison Offender Manager (POM)
          </h3>
        </header>
        <div class="app-summary-card__body">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ contacts.pom.firstName }} {{ contacts.pom.lastName }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                 {% if contacts.pom.email %}
                  <a href="mailto: {{ contacts.pom.email }}">{{ contacts.pom.email }}</a>
                {% else%}
                  Not entered
                {% endif %}
              </dd>
            </div>
          </dl>
        </div>
      </section>
    {% endif %}
  </div>
</div>