<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Personal details</h2>
    {% include './_personalDetailsOverviewSection.njk' %}

    {% if neurodiversity %}
      {% include './_neurodiversitySection.njk' %}
    {% endif %}

    {% if profile.profileData.supportAccepted %}
      {% include './_abilityToWorkSection.njk' %}
    {% endif %}
  </div>
</div>
