{% from "../../../macros/cohortListStatus.njk" import statusTag %}

{% if tab === 'overview' %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m govuk-!-margin-bottom-7">Overview</h1>

      {% if profile %}
        <section class="app-summary-card govuk-!-margin-bottom-6">
          <header class="app-summary-card__header">
            <h2 class="app-summary-card__title">
              Status
            </h2>
          </header>
          <div class="app-summary-card__body">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Current work status
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ statusTag(profile.profileData.status) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link govuk-link--no-visited-state" href="{{ addressLookup.changeStatus.newStatus(id) }}">
                    Change<span class="govuk-visually-hidden"> status</span>
                  </a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
              </div>
            </dl>
            <p class="app-summary-card__hint">Last updated {{ profile.modifiedDateTime }} by {{ profile.modifiedByName if profile.modifiedByName else profile.modifiedBy }}</p>
          </div>
        </section>
      {% else %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              {{ prisoner.firstName }} {{ prisoner.lastName }} has not completed a work assessment.
              <a class="govuk-notification-banner__link" href="{{ addressLookup.createProfile.rightToWork(prisoner.prisonerNumber) }}"><br>Complete assessment now</a>.
            </p>
          </div>
        </div>
      {% endif %}

    </div>
  </div>
{% endif %}
