<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Reason
  </dt>
  <dd class="govuk-summary-list__value" data-qa="overview-declined-reason">
    {% for item in profile.profileData.supportDeclined.supportToWorkDeclinedReason %}
      <div>{{ contentLookup.fields.supportDeclinedReason[item] }}{{ ' - ' +  profile.profileData.supportDeclined.supportToWorkDeclinedReasonOther if item === 'OTHER' }}{{ ',' if profile.profileData.supportDeclined.supportToWorkDeclinedReason.length !== loop.index }}</div>
    {% endfor %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link govuk-link--no-visited-state" id="overview-declined-reason-link" href="{{ addressLookup.createProfile.supportDeclinedReason(id, 'update') + '?from=' + encryptUrlParameter(originalUrl) }}">
      Change<span class="govuk-visually-hidden"> reason for decline</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Change in circumstance that would help
  </dt>
  <dd class="govuk-summary-list__value" data-qa="overview-declined-changes-required">
    {% for item in profile.profileData.supportDeclined.circumstanceChangesRequiredToWork %}
      <div>{{ contentLookup.fields.whatNeedsToChange[item] }}{{ ' - ' +  profile.profileData.supportDeclined.circumstanceChangesRequiredToWorkOther if item === 'OTHER' }}{{ ',' if profile.profileData.supportDeclined.circumstanceChangesRequiredToWork.length !== loop.index }}</div>
    {% endfor %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link govuk-link--no-visited-state" id="overview-declined-changes-required-link" href="{{ addressLookup.createProfile.whatNeedsToChange(id, 'update') + '?from=' + encryptUrlParameter(originalUrl) }}">
      Change<span class="govuk-visually-hidden"> circumstance changes required to work</span>
    </a>
  </dd>
</div>
