<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title">
      Volunteering and experience
    </h2>
  </header>

  <div class="app-summary-card__body">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Work or volunteering experience
        </dt>

        <dd class="govuk-summary-list__value">
          Yes <br><br>
          Details: Worked at his uncle's construction firm for 6 months prior to custody.
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q7-work-experience">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Qualifications and training
        </dt>

        <dd class="govuk-summary-list__value">
          CSCS card <br>
          Manual handling
        </dd>

        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q8-qualifications">
            Change<span class="govuk-visually-hidden"></span>
          </a>
        </dd>

      </div>
      <div class="govuk-summary-list__row">
      </div>
    </dl>
    <p class="app-summary-card__hint">Last updated 1 August by James Brown</p>

    </div>
  </section>