{% from "govuk/components/footer/macro.njk" import govukFooter -%}
{{
govukFooter({
    meta: {
        items: [
            {
                href: config.supportUrl,
                text: "Feedback and support"
            },
            {
                href: config.apis.hmppsAuth.url + '/terms',
                text: "Terms and conditions"
            }
        ]
    },
    classes: "govuk-!-display-none-print"
})
}}