{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ 
  govukFooter({
    meta: {
      items: [
        {
          href: "/accessibility",
          text: "Accessibility statement"
        }
      ]
    },
    classes: "govuk-!-display-none-print"
  }) 
}}