{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}
    <!--[if !IE 8]><!-->
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <script nonce="{{ cspNonce }}" src="https://code.jquery.com/jquery-1.12.4.min.js"
            crossorigin="anonymous"></script>
    <!--<![endif]-->

    <!--[if lt IE 9]>
  <link href='/assets/stylesheets/application-ie8.css?{{ version }}' rel='stylesheet'/>
  <script src='/assets/js/html5shiv-3.7.3.min.js'></script>
  <![endif]-->

    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" crossorigin>
    <script nonce="{{ cspNonce }}" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            crossorigin="anonymous"></script>

    <!-- Google Analytics: Google Analytics 4 (GA4) -->
    {% if googleAnalyticsId | trim %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
        <script nonce="{{ cspNonce }}">
          window.dataLayer = window.dataLayer || []

          function gtag() {
            dataLayer.push(arguments)
          }

          gtag('js', new Date())
          gtag('config', '{{ googleAnalyticsId }}', {
            active_case_load: '{{ userActiveCaseLoad.description | default('') }}',
            'debug_mode': true })

        </script>

    {% endif %}
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>

{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
    {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="/assets/govuk/all.js"></script>
    <script src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/js/esweAnalytics_begin_profile.js"></script>
    <script src="/assets/js/esweAnalytics_support.js"></script>


{% endblock %}
