{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block head %}

    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <script nonce="{{ cspNonce }}" src="https://code.jquery.com/jquery-1.12.4.min.js"
            crossorigin="anonymous"></script>

    <link nonce="{{ cspNonce }}" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" crossorigin>
    <script nonce="{{ cspNonce }}" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            crossorigin="anonymous"></script>

    {% if googleTagManagerContainerId %}
        <!-- Google Tag Manager -->
        <script nonce="{{ cspNonce }}">(function(w, d, s, l, i) {
            w[l] = w[l] || []
            w[l].push({
              'gtm.start': new Date().getTime(), event: 'gtm.js',
            })
            var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''
            j.async = true
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
            f.parentNode.insertBefore(j, f)
          })(window, document, 'script', 'dataLayer', '{{ googleTagManagerContainerId }}')</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" />
    <script src="/assets/js/jquery.min.js"></script>

    {% if frontendComponentsEnabled === true %}
      {% if feComponents.jsIncludes %}
        {% for js in feComponents.jsIncludes %}
          <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
        {% endfor %}
      {% endif %}

      {% if feComponents.cssIncludes %}
        {% for css in feComponents.cssIncludes %}
          <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
        {% endfor %}
      {% endif %}
    {% endif %}

{% endblock %}

{% block pageTitle %}{{ pageTitle | default(applicationName) }}{% endblock %}

{% block header %}
  {% if feComponents.header and frontendComponentsEnabled === true %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock %}

{% block bodyStart %}
    {% if googleTagManagerContainerId %}
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe class="govuk-visually-hidden" src="https://www.googletagmanager.com/ns.html?id={{ googleTagManagerContainerId }}"
                    height="0" width="0"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endif %}
{% endblock %}

{% block footer %}
  {% if feComponents.footer and frontendComponentsEnabled === true %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script src="/assets/govuk/all.bundle.js"></script>
    <script src="/assets/govukFrontendInit.js"></script>
    <script src="/assets/moj/all.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/js/esweAnalytics_begin_profile.js"></script>
    <script src="/assets/js/esweAnalytics_support.js"></script>
    <script src="/assets/js/esweAnalytics_filter_cohort_list.js"></script>
{% endblock %}
