{% if applicationProgress.length > 0 %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" width="30%">Application status</th>
        <th scope="col" class="govuk-table__header">Additional information</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in applicationProgress %}
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            {{ contentLookup.applicationStatus[item.applicationStatus] }}<br>
            <span class="govuk-hint">{{ item.createdByDateTime }}, {{ item.createdByNameDisplay }}</span>
          </td>
          <td class="govuk-table__cell">{{ item.additionalInformation if item.additionalInformation else "None entered" }}</td>
        </tr>
      {% endfor%}
    </tbody>
  </table>
{% endif %}