<form class="form" method="post" novalidate="">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% if mode === 'update' %}
    {{ govukSelect({
        id: "applicationStatus",
        name: "applicationStatus",
        label: {
          text: 'Application progress'
        },
        items: [
          {
            value: "",
            text: "Select application status"
          },
          {
            value: "APPLICATION_MADE",
            text: contentLookup.applicationStatus["APPLICATION_MADE"]
          },
          {
            value: "APPLICATION_UNSUCCESSFUL",
            text: contentLookup.applicationStatus["APPLICATION_UNSUCCESSFUL"]
          },
          {
            value: "SELECTED_FOR_INTERVIEW",
            text: contentLookup.applicationStatus["SELECTED_FOR_INTERVIEW"]
            
          },
          {
            value: "INTERVIEW_BOOKED",
            text: contentLookup.applicationStatus["INTERVIEW_BOOKED"]
          },
          {
            value: "UNSUCCESSFUL_AT_INTERVIEW",
            text: contentLookup.applicationStatus["UNSUCCESSFUL_AT_INTERVIEW"]
          },
          {
            value: "JOB_OFFER",
            text: contentLookup.applicationStatus["JOB_OFFER"]
          }
        ],
        errorMessage: errors.applicationStatus
      }) 
    }}

    {{ 
      govukTextarea({
        id: "additionalInformation",
        name: "additionalInformation",
        rows: "3",
        value: additionalInformation,
        type: "text",
         value: additionalInformation,
        label: {
          text: "Add additional information or feedback"
        },
        errorMessage: errors.additionalInformation
      }) 
    }}

    <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-link" href="{{ addressLookup.candidateMatching.manageApplication(id, job.id) }}">Cancel update</a></p>

    {{  
      govukButton({
        text: "Save and update",
        type: "submit",
        attributes: {
          "data-qa": "submit-button",
          "data-ga-category": "submit-selected-data"
        }
      }) 
    }}

  {% else %}
    <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-button" href="{{ addressLookup.candidateMatching.manageApplication(id, job.id, 'update') }}">Update progress</a></p>
  {% endif%}

</form>