{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "Does " + prisoner.firstName + " " + prisoner.lastName + " have any qualifications or training?" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * trainingAndQualifications - Array existing values for field
    * trainingAndQualificationsDetails - Existing value
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(errors) }}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "trainingAndQualificationsDetails",
              name: "trainingAndQualificationsDetails",
              rows: "2",
              value: trainingAndQualificationsDetails,
              type: "text",
              label: {
                    text: "Give details of qualifications or training",
                    classes: "govuk-label"
                },
              errorMessage: errors.trainingAndQualificationsDetails
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "trainingAndQualifications",
            fieldset: {
              legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "ADVANCED_EDUCATION",
                checked: trainingAndQualifications.indexOf("ADVANCED_EDUCATION") > -1,
                text: contentLookup.fields.trainingAndQualifications["ADVANCED_EDUCATION"],
                hint: {
                  text: "including things like A levels, BTECs, and the International Baccalaureate Diploma"
                }
              },
              {
                value: "CSCS",
                checked: trainingAndQualifications.indexOf("CSCS") > -1,
                text: contentLookup.fields.trainingAndQualifications["CSCS"]
              },
              {
                value: "FIRST_AID",
                checked: trainingAndQualifications.indexOf("FIRST_AID") > -1,
                text: contentLookup.fields.trainingAndQualifications["FIRST_AID"]
              },
              {
                value: "FOOD_HYGIENE",
                checked: trainingAndQualifications.indexOf("FOOD_HYGIENE") > -1,
                text: contentLookup.fields.trainingAndQualifications["FOOD_HYGIENE"]
              },
               {
                value: "DRIVING_LICENSE",
                checked: trainingAndQualifications.indexOf("DRIVING_LICENSE") > -1,
                text: contentLookup.fields.trainingAndQualifications["DRIVING_LICENSE"]
              },
              {
                value: "HEALTH_AND_SAFETY",
                checked: trainingAndQualifications.indexOf("HEALTH_AND_SAFETY") > -1,
                text: contentLookup.fields.trainingAndQualifications["HEALTH_AND_SAFETY"]
              },
              {
                value: "HGV_LICENSE",
                checked: trainingAndQualifications.indexOf("HGV_LICENSE") > -1,
                text:contentLookup.fields.trainingAndQualifications["HGV_LICENSE"]
              },
              {
                value: "HIGHER_EDUCATION",
                checked: trainingAndQualifications.indexOf("HIGHER_EDUCATION") > -1,
                text: contentLookup.fields.trainingAndQualifications["HIGHER_EDUCATION"],
                hint: {
                  text: "including things like university foundation, bachelor and postgraduate degrees"
                }
              },
              {
                value: "MACHINERY",
                checked: trainingAndQualifications.indexOf("MACHINERY") > -1,
                text: contentLookup.fields.trainingAndQualifications["MACHINERY"],
                hint: {
                  text: "including things like forklift, digger and dumper"
                }
              },
              {
                value: "MANUAL",
                checked: trainingAndQualifications.indexOf("MANUAL") > -1,
                text: contentLookup.fields.trainingAndQualifications["MANUAL"]
              },
              {
                value: "TRADE",
                checked: trainingAndQualifications.indexOf("TRADE") > -1,
                text: contentLookup.fields.trainingAndQualifications["TRADE"],
                hint: {
                  text: "including things like bricklaying, painting and decorating and carpentry"
                }
              },
              {
                value: "SCHOOL_EDUCATION",
                checked: trainingAndQualifications.indexOf("SCHOOL_EDUCATION") > -1,
                text: contentLookup.fields.trainingAndQualifications["SCHOOL_EDUCATION"],
                hint: {
                  text: "including things like GCSEs"
                }
              },
              {
                value: "OTHER",
                checked: trainingAndQualifications.indexOf("OTHER") > -1,
                text: contentLookup.fields.trainingAndQualifications["OTHER"],
                conditional: {
                  html: otherHtml
                }
              },
              {
                divider: "or"
              },
              {
                value: "NONE",
                text:contentLookup.fields.trainingAndQualifications["NONE"],
                checked: trainingAndQualifications.indexOf("NONE") > -1,
                behaviour: "exclusive"
              }
            ],
            errorMessage: errors.trainingAndQualifications
          }) }}
        </div>

        {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}