<p class="govuk-body">All British and Irish citizens have the right to work in the UK.</p>

<p class="govuk-body">Non-British and Irish citizens have the right to work if they have:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>valid settled status in the UK</li>
  <li>a work visa</li>
  <li>indefinite leave to remain or enter (ILR or ILE) in the UK</li>
  <li>right of abode in the UK</li>
</ul>