$govuk-global-styles: true
$path: "/assets/images/"
$moj-page-width: 1170px
$govuk-page-width: $moj-page-width

@import 'govuk/all'
@import 'moj/all'

@import './components/_header-bar'
@import './components/_summary-card'
@import './components/_task-list'
@import './local'
@import './components/_search'

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.filter-box
  background-color: govuk-colour("light-grey")
  padding: 30px 10px 30px 10px
