{% from "../../../macros/cohortListFunctions.njk" import sortableTableHeader, supportNeeded, readyToWork, supportDeclined, noRightToWork, notStarted %}
{% from "../../../macros/cohortListStatus.njk" import statusTag %}
{% from "../../../macros/pagination/macro.njk" import pagination %}

<div id="offender-container">
    <h3 class="govuk-heading-s">
        {{ prisonerSearchResults.totalElements }} results
    </h3>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    {% if prisonerSearchResults.content.length >= 1 %}
        <table id="view-offender" class="govuk-table view-offender">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "lastName",
                    headerText: "Prisoner"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "releaseDate",
                    headerText: "Release type and date"
                }) }}
                {% if showNeedsSupportFilter %}
                    <th scope="col" class="govuk-table__header sortable">Status</th>
                {% endif %}
                <th scope="col" class="govuk-table__header">Work types of interest</th>
                <th scope="col" class="govuk-table__header">Release area</th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% set rowClass = cycler("odd", "even") %}

        {% for offender in offendersToBeReleased %}
            <tr class="govuk-table__row {{ rowClass.next() }}">
                <td class="govuk-table__cell">
                    <a href="{{ addressLookup.workProfile(offender.prisonerNumber) }}"
                       rel="noopener noreferrer"
                       data-qa="quick-look-link"
                       aria-label="Profile link for {{ offender.displayName }}"
                       class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ offender.displayName }}</a>
                    </br><span class="govuk-hint govuk-!-margin-bottom-0">{{ offender.prisonerNumber }}</span>
                </td>
                <td class="govuk-table__cell">
                    {{ offender.releaseDate or 'N/A' }}</br>
                    {{ offender.nonDtoReleaseDateType or '' }}
                </td>
                {% if showNeedsSupportFilter %}
                    <td class="govuk-table__cell"> {{ statusTag(offender.status) }}</td>
                {% endif %}
                <td class="govuk-table__cell">
                    <ul class="govuk-list govuk-list--bullet">
                        {% for item in offender.workTypeInterests %}
                            <li>
                                <span class="govuk-!-font-weight-regular">{{ contentLookup.fields.typeOfWork[item] }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                <td class="govuk-table__cell"></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    {% if paginationData.results.count >= 1 and prisonerSearchResults.content.length >= 1 %}
        {{ pagination( paginationData ) }}
    {% else %}
        {% include './_notFoundMessages.njk' %}
    {% endif %}
</div>