{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "What change in circumstances would make " + prisoner.firstName + " " + prisoner.lastName + " want to get work?" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * whatNeedsToChange - Array existing values for field
    * whatNeedsToChangeDetails - Array existing values for field
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation, attributes: { "aria-label" : backLocationAriaText } }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(errors) }}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "whatNeedsToChangeDetails",
              name: "whatNeedsToChangeDetails",
              rows: "2",
              value: whatNeedsToChangeDetails,
              type: "text",
              label: {
                text: "Give details"
              },
              attributes: { "aria-label" : "Give details of any change of circumstance" },
              errorMessage: errors.whatNeedsToChangeDetails
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "whatNeedsToChange",
            fieldset: {
              legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "HOUSING_ON_RELEASE",
                text: contentLookup.fields.whatNeedsToChange["HOUSING_ON_RELEASE"],
                checked: whatNeedsToChange.indexOf("HOUSING_ON_RELEASE") > -1
              },
              {
                value: "ID_ON_RELEASE",
                text: contentLookup.fields.whatNeedsToChange["ID_ON_RELEASE"],
                checked: whatNeedsToChange.indexOf("ID_ON_RELEASE") > -1
              },
              {
                value: "DEPENDENCY_SUPPORT",
                text: contentLookup.fields.whatNeedsToChange["DEPENDENCY_SUPPORT"],
                checked: whatNeedsToChange.indexOf("DEPENDENCY_SUPPORT") > -1
              },
              {
                value: "MENTAL_HEALTH_SUPPORT",
                text: contentLookup.fields.whatNeedsToChange["MENTAL_HEALTH_SUPPORT"],
                checked: whatNeedsToChange.indexOf("MENTAL_HEALTH_SUPPORT") > -1
              },
              {
                value: "OTHER",
                text: contentLookup.fields.whatNeedsToChange["OTHER"],
                checked: whatNeedsToChange.indexOf("OTHER") > -1,
                conditional: {
                  html: otherHtml
                }
              }
            ],
             errorMessage: errors.whatNeedsToChange
          }) }}

        </div>

        {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}