<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-7">Work interests and experience</h2>
    {% if profile.profileData.supportAccepted %}
      {% include './_workInterestsSection.njk' %}
      {% include './_workExperienceSection.njk' %}
    {% endif %}
  </div>
</div>