{% extends "../../partials/layout.njk" %}
{% from "../../partials/navBar.njk" import navBar with context %}
{% from "../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set offenderToBeReleased = prisonerSearchResults.content %}
{% set title = 'Get someone ready for work' %}

{#
Data supplied to this template:

  *
#}

{% block beforeContent %}
    {% set breadCrumbList = [ {href: '/work-Profile', title: title } ] %}
    {{ breadCrumb('Work readiness', breadCrumbList) }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>
{#    <div class="govuk-form-group">#}
{#        <div class="govuk-form-group filter-box govuk-!-margin-top-4">#}
       <form novalidate="novalidate" class="prisoner-search__form" data-test="prisoner-search-form">
        <div class="horizontal-form govuk-!-margin-bottom-3">

            <div action="" method="post">
                <input type="hidden" name="_csrf" value="" />

                <div class="govuk-grid-row govuk-!-display-none-print">
                    {# This whole section has a grey background colour #}
                    <div class="govuk-grid-column-full">
                        <div class="govuk-!-padding-left-3 govuk-!-padding-right-3 filter-box-color">
                            <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                                {{ govukRadios({
                                    classes: "govuk-radios--inline govuk-radios--small",
                                    idPrefix: "status",
                                    name: "selectStatus",
                                    fieldset: {
                                        attributes: { 'data-test': 'status-input' },
                                        legend: {
                                            text: 'Status',
                                            classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-0"
                                        }
                                    },
                                    items: [
                                        {
                                            value: "all",
                                            text: "all",
                                            checked: "true"
                                        },
                                        {
                                            value: "noStarted",
                                            text: "No started"
                                        },
                                        {
                                            value: "needsSupport",
                                            text: "Needs support"
                                        },
                                        {
                                            value: "readyToWork",
                                            text: "Ready to work"
                                        },
                                        {
                                            value: "doesNotWantSupport",
                                            text: "Does not want to support"
                                        },
                                        {
                                            value: "noRightToWork",
                                            text: "No right to work"
                                        }
                                    ]
                                }) }}

                                {{ govukInput({
                                    classes: "govuk-input--width-20",
                                    id: "filterByName",
                                    name: "filterByName",
                                    errorMessage: errors | findError('filterByName'),
                                    label: {
                                        text: "Search by prisoner's name",
                                        classes: "govuk-label--s",
                                        isPageHeading: true
                                    }
                                }) }}
                                {{ govukButton({ text: "Search",
                                    type: "Apply",
                                    classes: 'govuk-!-margin-bottom-0 filter-panel-apply-button',
                                    attributes: {'data-qa': 'filter-panel-apply-button'},
                                    preventDoubleClick: true
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {{ mojPagination( paginationData ) }}
    {{ offenderList(offenderToBeReleased) }}
    {{ mojPagination( paginationData ) }}

{% endblock %}

{# ------------------------------------------------------------- #}
{# Present list of offenders table pre-filtered based on choices #}
{# ------------------------------------------------------------- #}

{% macro offenderList(offenders) %}
    <div id="offender-container">
        <table id="view-offender" class="govuk-table view-offender">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header sortable">Prisoner</th>
                <th scope="col" class="govuk-table__header sortable">Release type and date</th>
                <th scope="col" class="govuk-table__header sortable">Status</th>
                <th scope="col" class="govuk-table__header">Work summary</th>
                <th scope="col" class="govuk-table__header sortable">Updated on</th>
            </tr>
            </thead>

            <tbody class="govuk-table__body">
            {% set rowClass = cycler("odd", "even") %}

            {% for offender in offenders %}

                <tr class="govuk-table__row {{ rowClass.next() }}">
                    <td class="govuk-table__cell">
                        <a href="{{ '/personal/' + offender.prisonerNumber }}"
                           class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ offender.lastName + ', ' + offender.firstName }}</a>
                        <p>{{ offender.prisonerNumber }}</p>
                    </td>
                    <td class="govuk-table__cell">{{ offender.nonDtoReleaseDateType or '' }}
                        <p>{{ offender.releaseDate or 'N/A' }}</p>
                    </td>
                    <td class="govuk-table__cell">{{ 'N/A' }}</td>
                    <td class="govuk-table__cell">{{ 'N/A' }}</td>
                    <td class="govuk-table__cell">{{ 'N/A' }}</td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
    </div>


{% endmacro %}