{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = jobTitle %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: backLocation, attributes: { "aria-label" : "Back to "+ prisoner.firstName + " " + prisoner.lastName +"'s job list"} }) }}
{% endblock %}

{% block content %}
    {{ errorSummary(errors) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l govuk-!-margin-bottom-2" data-test="job-title">
            {{ job.jobTitle }}
          </h1>
          <p class="govuk-body govuk-!-margin-bottom-2">Employer: <span data-test="employer-name">{{ job.employerName }}</span></p>

          <h2 class="govuk-heading-s">
            Key information
          </h2>
          <ul class="govuk-list">
            <li>
              Closing date: <span data-test="closing-date">{{ job.closingDate }}</span>
            </li>
            <li>
              Location: <span data-test="job-city">{{ job.city }}</span>, <span data-test="job-postcode">{{ job.postcode }}</span>
            </li>
            <li>
              Hours: <span data-test="work-pattern-name">{{ job.workPatternName }}</span>, <span data-test="work-pattern">{{ contentLookup.jobs.workPattern[job.workPattern] }}</span>
            </li>
            <li>
              Salary: From <span data-test="salary">£{{ job.salaryFrom | fixed }}{{ ' to £'+ (job.salaryTo | fixed) if job.salaryTo }} {{ contentLookup.jobs.salaryPeriod[job.salaryPeriod] }}</span>
            </li>
            <li data-test="offence-exclusions">
              Offence exclusions: 
              {% if job.offenceExclusions.length %}
                {% for offence in job.offenceExclusions %}
                  <div>{{ contentLookup.jobs.excludingOffences[offence] }}</div>
                {% endfor %}
              {% else %}
                None
              {% endif %}
            </li>
          </ul>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Essential criteria
          </h2>

           <p class="govuk-body" data-test="essential-criteria">
            {{ job.essentialCriteria | striptags(true) | escape | nl2br }}
          </p>

          {% if job.desirableCriteria.length %}
            <h2 class="govuk-heading-s">
              Desirable criteria
            </h2>

             <p class="govuk-body" data-test="desirable-criteria">
              {{ job.desirableCriteria | striptags(true) | escape | nl2br }}
            </p>
          {% endif %}

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-s">
            Job description
          </h2>
          <p class="govuk-body" data-test="job-description">
            {{ job.jobDescription | striptags(true) | escape | nl2br }}
          </p>
        </div>

        <div class="govuk-grid-column-one-third">
          <section class="app-summary-card govuk-!-margin-bottom-6">
            <header class="app-summary-card__header">
              <h2 class="app-summary-card__title">
                {{ prisoner.firstName + " " + prisoner.lastName }} matching summary
              </h2>
            </header>

            <div class="app-summary-card__body">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Type of work:
              </h3>
              <p class="govuk-body" data-test="type-of-work">{{ contentLookup.jobs.typeOfWork[job.typeOfWork] }}</p>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Matches prisoner interests?
              </h3>
              <p class="govuk-body" data-test="matches-prisoner-interests">{{ 'Yes' if matchesPrisonerInterests else 'No'}}</p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

              <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                Job location
              </h3>
              <p class="govuk-body">{{ job.city }}, {{ job.postcode }}</p>
              {% if releaseArea %}
                <div class="timeline">
                  <ul>
                    <li>
                      <p class="govuk-!-padding-top-4 govuk-!-padding-bottom-1" data-test="distance">{{ job.distance }} miles from release area: <br>{{ releaseArea.city }}, {{ releaseArea.postcode }}</p>
                    </li>
                    <li>
                    </li>
                  </ul>
               </div>
              {% endif %}
            </div>
          </section>
        </div>

     </div>
{% endblock %}



