{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = jobTitle %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation, classes: "govuk-!-display-none-print",  attributes: { "aria-label" : "Back to "+ prisoner.firstName + " " + prisoner.lastName +"'s job list"} }) }}
{% endblock %}

{% block content %}
  {{ errorSummary(errors) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukButton({
            text: "Print",
            id:"printLink",
            classes: "govuk-button--secondary govuk-!-display-none-print",
            attributes: { style: "float: right;" }
        }) }}
      <span id="employerName" class="govuk-caption-l">Employer: {{ job.employerName }}</span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2" id="jobTitle">
        {{ job.jobTitle }}
      </h1>


      <ul class="govuk-list">
        <li>
          Location: <span id="postcode">{{ job.postcode }}</span>
        </li>
        <li>
          Closing date: <span id="closingDate">{{ job.closingDate if job.closingDate !== 'N/A' else 'No closing date' }}</span>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-s">
        Salary and contract
      </h2>
      <ul class="govuk-list">
        <li>
          Salary: <span id="salaryFrom">£{{ job.salaryFrom | fixed }}</span><span id="salaryTo">{{ (' to £'+ (job.salaryTo | fixed)) if job.salaryTo }}</span>
        </li>
        <li>
          Salary period: <span id="salaryPeriod"> {{ contentLookup.jobs.salaryPeriod[job.salaryPeriod] }}</span>
        </li>
        <li>
          Additional salary information: <span id="additionalSalaryInformation"> {{ job.additionalSalaryInformation if job.additionalSalaryInformation else 'Not provided' }}</span>
        </li>
        <li>
          Work pattern: <span id="workPattern">{{ contentLookup.jobs.workPattern[job.workPattern] }}</span>
        </li>
        <li>
          Hours: <span id="hoursPerWeek">{{ contentLookup.jobs.hours[job.hoursPerWeek] }}</span>
        </li>
          <li>
          Contract type: <span id="contractType">{{ contentLookup.jobs.contractType[job.contractType] }}</span>
        </li>
      </ul>

      <h2 class="govuk-heading-s">
        Prison leaver recruitment information
      </h2>
      <ul class="govuk-list">
        <li>
          Number of vacancies: <span id="numberOfVacancies">{{ job.numberOfVacancies }}</span>
        </li>
        <li>
          Charity support: <span id="charityName">{{ job.charityName if job.charityName else 'No'}}</span>
        </li>
        <li>
          Only for prison leavers: <span id="isOnlyForPrisonLeavers">{{ 'Yes' if job.isOnlyForPrisonLeavers else 'No'}}</span>
        </li>
        <li id="offenceExclusions">
          Offence exclusions: 
          {% if job.offenceExclusions.length %}
            {% for offence in job.offenceExclusions %}
              <div>{{ contentLookup.jobs.excludingOffences[offence] }}{{ ' - ' +  job.offenceExclusionsDetails if offence === 'OTHER' }}</div>
            {% endfor %}
          {% else %}
            None
          {% endif %}
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-s">
        Essential criteria
      </h2>
      <p class="govuk-body" id="essentialCriteria">
        {{ job.essentialCriteria | striptags(true) | escape | nl2br }}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-s">
        Desirable criteria
      </h2>
      <p class="govuk-body" id="desirableCriteria">
        {% if job.desirableCriteria %}
          {{ job.desirableCriteria | striptags(true) | escape | nl2br }}
        {% else %}
          Not provided
        {% endif%}
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-s">
        Job description
      </h2>
      <p class="govuk-body" id="description">
        {{ job.description | striptags(true) | escape | nl2br }}
      </p>

      {% include './partials/_jobDetailsFormControls.njk' %}
    </div>

    <div class="govuk-grid-column-one-third">
      <section class="app-summary-card govuk-!-margin-bottom-6">
        <header class="app-summary-card__header">
          <h2 class="app-summary-card__title">
            {{ prisoner.firstName + " " + prisoner.lastName }} matching summary
          </h2>
        </header>

        <div class="app-summary-card__body">

          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Type of work:
          </h3>
          <p class="govuk-body" id="sector">{{ contentLookup.jobs.typeOfWork[job.sector] }}</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Matches prisoner interests?
          </h3>
          <p class="govuk-body" id="matches-prisoner-interests">{{ 'Yes' if matchesPrisonerInterests else 'No'}}</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            Job location
          </h3>
          <p class="govuk-body">{{ job.postcode }}</p>
          {% if releaseArea %}
            <div class="timeline">
              <ul>
                <li>
                  <p class="govuk-!-padding-top-4 govuk-!-padding-bottom-1" id="distance">{{ job.distance }} miles from release area: <br>{{ releaseArea.postcode }}</p>
                </li>
                <li>
                </li>
              </ul>
            </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
{% endblock %}



