{% if nationalJobsResults.page.totalElements === 0 %}
  <span class="govuk-heading-m">0 results</span>
  <p>To get more results, you can: </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
    <li>change the employer</li>
    <li>change the types of work</li>
    <li>remove offence exclusions</li>
  </ul>
{% endif %}