{% if nationalJobsResults.page.totalElements === 0 %}
  <span class="govuk-heading-m">Your search matched no jobs</span>
  <p>There are no vacancies that match your search. Try searching again using a different sector or employer.</p>
{% endif %}