{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set offendersToBeReleased = prisonerSearchResults.content %}
{% set activeStatus = filterStatus %}
{% set title = 'Get someone ready to work' %}

{% block beforeContent %}
    {% if candidateMatchingEnabled %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Digital prison services" if isPrisonUser else "HMPPS Digital Services",
                    href: dpsUrl
                },
                {
                    text: "Work after leaving prison",
                    href: '/'
                }
            ],
            classes: 'govuk-!-display-none-print'
        })
        }}
    {% else %}
        {{ govukBreadcrumbs({
            items: [
                {
                    text: "Digital prison services" if isPrisonUser else "HMPPS Digital Services",
                    href: dpsUrl
                },
                {
                    text: "Get someone ready to work"
                }
            ],
            classes: 'govuk-!-display-none-print'
        })
        }}
    {% endif %}
{% endblock %}

{% block content %}

    {% if errors.length > 0 %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors,
            attributes: { 'data-qa': 'error-summary' }
        }) }}
    {% endif %}

    <div class="govuk-grid-row govuk-!-display-none-print">
        {#                     This whole section has a grey background colour #}
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7" xmlns="http://www.w3.org/1999/html">{{ title }}</h1>
            <form method="post" novalidate="novalidate" name="prisoner-search-form" id="prisoner-search-form" class="prisoner-search__form" data-qa="prisoner-search-form">

                {% include './partials/_cohortStatusRadios.njk' %}
                {% include './partials/_cohortTable.njk' %}

            </form>
        </div>
    </div>
{% endblock %}



