<div class="govuk-form-group filter-box govuk-!-margin-top-4" style="padding-left: 0px">

    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <div class="govuk-!-padding-right-3">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            {{ govukRadios({
                classes: "govuk-radios--inline govuk-radios--small",
                idPrefix: "status",
                name: "selectStatus",
                id: "selectStatus",
                fieldset: {
                    attributes: {
                        'data-qa': 'status-input',
                        'data-ga-category': 'Work readiness status',
                        'data-ga-action': filterStatus
                    },
                    legend: {
                        text: 'Status',
                        classes: "govuk-fieldset__legend--s govuk-!-margin-bottom-0"
                    }
                },
                items: [
                    {
                        id: 'allStatusFilter',
                        value: 'ALL',
                        text: 'All',
                        checked: filterStatus === 'ALL'
                    },
                    {
                        id: 'notStartedStatusFilter',
                        value: 'NOT_STARTED',
                        text: 'Not started',
                        checked: filterStatus === 'NOT_STARTED'
                    },
                    {
                        id: 'needsSupportStatusFilter',
                        value: 'SUPPORT_NEEDED',
                        text: 'Needs support',
                        checked: filterStatus === 'SUPPORT_NEEDED'
                    },
                    {
                        id: 'readyToWorkStatusFilter',
                        value: 'READY_TO_WORK',
                        text: 'Ready to work',
                        checked: filterStatus === 'READY_TO_WORK'
                    },
                    {
                        id: 'doesNotWantSupportStatusFilter',
                        value: 'SUPPORT_DECLINED',
                        text: 'Does not want support',
                        checked: filterStatus === 'SUPPORT_DECLINED'
                    },
                    {
                        id: 'noRightToWorkStatusFilter',
                        value: 'NO_RIGHT_TO_WORK',
                        text: 'No right to work',
                        checked: filterStatus === 'NO_RIGHT_TO_WORK'
                    }
                ]
            }) }}
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="moj-search">
            <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="searchTerm">
                    Search by prisoner's name
                </label>
                <input class="govuk-input moj-search__input"
                       id="searchTerm"
                       name="searchTerm"
                       type="search"
                       value="{{ searchTerm }}"
                       maxlength="20"
                />
            </div>
            <button class="govuk-button moj-search__button" data-module="govuk-button" id="searchButton">
                Search
            </button>
        </div>
    </div>
    {% if searchTerm %}
        <div class="govuk-grid-column-one-third" style="padding-left: 0px">
            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-7">
                <a class="govuk-link" href="{{ addressLookup.cohortList() }}">Clear</a>
            </p>
        </div>
    {% endif %}
</div>