{% from "../../../macros/cohortListFunctions.njk" import sortableTableHeader, supportNeeded, readyToWork, supportDeclined, noRightToWork, notStarted %}
{% from "../../../macros/cohortListStatus.njk" import statusTag %}

<div id="offender-container">
    <table id="view-offender" class="govuk-table view-offender">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">

            {{ sortableTableHeader({
                sort: sort,
                order: order,
                formName: "prisoner-search-form",
                fieldName: "lastName",
                headerText: "Prisoner"
            }) }}
            {{ sortableTableHeader({
                sort: sort,
                order: order,
                formName: "prisoner-search-form",
                fieldName: "releaseDate",
                headerText: "Release type and date"
            }) }}
            <th scope="col" class="govuk-table__header sortable">Status</th>
            <th scope="col" class="govuk-table__header">Work summary</th>
            {{ sortableTableHeader({
                sort: sort,
                order: order,
                formName: "prisoner-search-form",
                fieldName: "updatedOn",
                headerText: "Updated on"
            }) }}
        </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% set rowClass = cycler("odd", "even") %}

        {% for offender in offendersToBeReleased %}

            <tr class="govuk-table__row {{ rowClass.next() }}">
                <td class="govuk-table__cell">
                    <a href="{{ addressLookup.workProfile(offender.prisonerNumber) }}"
                       target="_blank"
                       rel="noopener noreferrer"
                       data-qa="quick-look-link"
                       class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ offender.displayName }}</a>
                    </br><span class="govuk-hint govuk-!-margin-bottom-0">{{ offender.prisonerNumber }}</span>
                </td>
                <td class="govuk-table__cell">{{ offender.nonDtoReleaseDateType or '' }}
                    <p>{{ offender.releaseDate or 'N/A' }}</p>
                </td>
                <td class="govuk-table__cell"> {{ statusTag(offender.status) }}</td>
                {% if offender.status == 'SUPPORT_NEEDED' %}
                    {{ supportNeeded(offender) }}
                {% elseif offender.status == 'READY_TO_WORK' %}
                    {{ readyToWork(offender) }}
                {% elseif offender.status == 'SUPPORT_DECLINED' %}
                    {{ supportDeclined(offender) }}
                {% elseif offender.status == 'NO_RIGHT_TO_WORK' %}
                    <td {{ noRightToWork(offender) }}</td>
                {% elseif offender.status == 'NOT_STARTED' %}
                    <td {{ notStarted(offender) }}</td>
                {% else %}
                    <td class="govuk-table__cell">'N/A'</td>
                {% endif %}
                <td class="govuk-table__cell">{{ offender.updatedOn or 'N/A' }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    {% if paginationData.results.count >= 1 and prisonerSearchResults.content.length >= 1 %}
        {{ mojPagination( paginationData ) }}
    {% else %}
        <span class="govuk-heading-m">{{ notFoundMsg[0] | replace(',', '  ') | striptags(true) | escape | nl2br }}</span>
        <br>
        <span class="govuk-body-l">{{ notFoundMsg[1] }}</span>
    {% endif %}
</div>