
<div class="govuk-grid-column-one-third">

    <div class="moj-search">
        <form method="post">

            <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                    Search by prisoner's name
                </label>
                <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
            </div>

            <button class="govuk-button moj-search__button " data-module="govuk-button">
                Search
            </button>

        </form>
    </div>

</div>