.timeline {
  padding: 0px 10px 0px 10px;
  margin: 0 0 35px 0;
 
  ul {
    list-style-type: none;
    position: relative;
    padding: 0 0 0 10px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -4px;
      bottom: 0;
      border-left: 4px solid #bfc1c3;
      height: 116%;
    }
 
    li {
      margin: 0 0 0 10px;
      position: relative;
      display: block;
 
 
      &:before {
        content: "";
        display: block;
        width: calc(2 * #{5px});
        height: calc(2 * #{5px});
        border-radius: 50%;
        background-color: white;
        border: 4px solid #bfc1c3;
        position: absolute;
        z-index: 2;
        left: -31px;
      }
 
      h2 {
        @extend .govuk-heading-s;
        padding-top: 15px;
        margin-bottom: 5px;
      }
 
      p {
        @extend .govuk-body;
        margin-bottom: 5px;
      }
    }
  }
 }
 