{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "Check your answers before saving them to " + prisoner.firstName + " " + prisoner.lastName +"'s profile" %}

{#
Data supplied to this template:
  * prisoner - object with firsName and lastName
#}

{% block beforeContent %}

{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">{{ title }}</h1>

            {% include './partials/_personalDetails.njk' %}
            {% include './partials/_eligibilityForSupport.njk' %}

            {% if record.supportOptIn === 'YES' %}
                {% include './partials/_alreadyInPlace.njk' %}
                {% include './partials/_abilityToWork.njk' %}
                {% include './partials/_workRelatedInfo.njk' %}
            {% endif %}

            <form class="form" method="post" novalidate="">
                <div class="govuk-form-group">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                    {{ govukButton({
                        text: "Save to profile",
                        type: "submit",
                        attributes: {
                            "data-qa": "submit-button",
                            "data-ga-category": "submit-selected-data"
                        }
                    }) }}
            </form>
        </div>
    </div>

{% endblock %}