{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set jobsOfInterest = jobsOfInterestResults.content %}
{% set activeStatus = filterStatus %}
{% set title = "Jobs for " + prisoner.firstName + " " + prisoner.lastName %}

{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: backLocation, attributes: { "aria-label" : "Back to "+ prisoner.firstName + " " + prisoner.lastName +"'s work profile"} }) }}
{% endblock %}

{% block content %}
    {{ errorSummary(errors) }}

    <div class="govuk-grid-row govuk-!-display-none-print">
        {# This whole section has a grey background colour #}
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-7" xmlns="http://www.w3.org/1999/html">{{ title }}</h1>
            <form method="post" novalidate="novalidate" name="prisoner-search-form" id="prisoner-search-form" class="prisoner-search__form" data-qa="prisoner-search-form">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <nav class="moj-sub-navigation govuk-!-margin-bottom-7" aria-label="Sub navigation">
                            <ul class="moj-sub-navigation__list">
                            <li class="moj-sub-navigation__item">
                                <a class="moj-sub-navigation__link" href="{{ addressLookup.candidateMatching.matchedJobs(id) + '?sort=closingDate&order=ascending&jobSectorFilter=' + workTypesOfInterest.join(',') }}">Matched jobs</a>
                            </li>
                            {% if nationalJobsEnabled %}
                                <li class="moj-sub-navigation__item">
                                    <a class="moj-sub-navigation__link govuk-!-display-none-print" href="{{ addressLookup.candidateMatching.nationalJobs(id) + '?sort=closingDate&order=ascending' }}">National jobs</a>
                                    <span class="display-none-screen">National jobs</span>
                                </li>
                            {% endif%}
                            <li class="moj-sub-navigation__item">
                                <a class="moj-sub-navigation__link" aria-current="page" href="{{ addressLookup.candidateMatching.jobsOfInterest(id) + '?sort=closingDate&order=ascending' }}">Other jobs chosen by prisoner</a>
                            </li>
                            {% if archiveJobsEnabled %}
                                <li class="moj-sub-navigation__item">
                                    <a class="moj-sub-navigation__link" href="{{ addressLookup.candidateMatching.archivedJobs(id) + '?sort=closingDate&order=ascending' }}">Archived jobs</a>
                                </li>
                            {% endif%}
                            </ul>
                        </nav>
                    </div>
                </div>

                <h2 class="govuk-heading-m">
                    Other jobs chosen by the prisoner
                </h2>

                {% if jobsOfInterestResults.page.totalElements === 0 %}
                    <p>{{ prisoner.firstName + " " + prisoner.lastName }} has not noted an interest in any other jobs on the jobs board.</p>
                {% else %}
                    <p class="govuk-body">Other jobs the prisoner noted an interest in on the jobs board.</p>
                {% endif %}
               
                {% include './partials/_jobsOfInterestTable.njk' %}
            </form>
        </div>
    </div>
{% endblock %}



