<div class="govuk-form-group filter-box govuk-!-margin-top-4">
      <div class="govuk-grid-row">

        <div class="filter-box-width-override-60">
          <div class="govuk-form-group">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2" style="padding-left: 15px">
              Type of work interested in
            </h3>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="job-sectors-6" name="job-sectors" type="checkbox" value="Manufacturing and technical" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="job-sectors-6">
                    Manufacturing and technical
                  </label>
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input class="govuk-checkboxes__input" id="job-sectors-11" name="job-sectors" type="checkbox" value="Warehousing and storage" checked="">
                  <label class="govuk-label govuk-checkboxes__label" for="job-sectors-11">
                    Warehousing and storage
                  </label>
                </div>
              </div>
            </div>
          </div>

          <details class="govuk-details govuk-!-margin-bottom-4 govuk-!-margin-top-2" style="padding-left: 15px">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show other types of work
              </span>
            </summary>
            <div class="govuk-details__text" style="border-left: none; padding-left: 0px">

              <div class="govuk-grid-row">
                <div class="filter-box-width-override-60">
                  <div class="govuk-form-group">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2" style="padding-left: 15px">
                      Type of work interested in
                    </h3>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-grid-column-one-half">
                        <div class="govuk-checkboxes__item govuk-checkboxes--small govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-1" name="job-sectors" type="checkbox" value="Animal care, farming and gardening">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-1">
                            Animal care and farming
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors" name="job-sectors" type="checkbox" value=" Cleaning and maintenance">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors">
                             Cleaning and maintenance
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-2" name="job-sectors" type="checkbox" value="Construction and trade">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-2">
                            Construction and trade
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-3" name="job-sectors" type="checkbox" value="Driving and transport">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-3">
                            Driving and transport
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-4" name="job-sectors" type="checkbox" value="Hair, beauty and wellbeing">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-4">
                            Hair, beauty and wellbeing
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-5" name="job-sectors" type="checkbox" value="Hospitality and catering">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-5">
                            Hospitality and catering
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-14" name="job-sectors" type="checkbox" value="IT and digital">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-14">
                            IT and digital
                          </label>
                        </div>
                      </div>

                      <div class="govuk-grid-column-one-half">

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-7" name="job-sectors" type="checkbox" value="Office or desk-based">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-7">
                            Office or desk-based
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-13" name="job-sectors" type="checkbox" value="Other" aria-controls="conditional-job-sectors" aria-expanded="false">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-13">
                            Other
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-8" name="job-sectors" type="checkbox" value="Retail and sales">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-8">
                            Retail and sales
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-9" name="job-sectors" type="checkbox" value="Sport and fitness">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-9">
                            Sport and fitness
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-10" name="job-sectors" type="checkbox" value="Training, support and education">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-10">
                            Training and support
                          </label>
                        </div>

                        <div class="govuk-checkboxes__item govuk-checkboxes--small">
                          <input class="govuk-checkboxes__input" id="job-sectors-12" name="job-sectors" type="checkbox" value="Waste management">
                          <label class="govuk-label govuk-checkboxes__label" for="job-sectors-12">
                            Waste management
                          </label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


            </div>
            </div>
          </details>

        </div>

        <div class="filter-box-width-override-20">
          <div class="govuk-form-group">
            <label class="govuk-heading-s govuk-!-margin-bottom-1" for="radius">
              Search radius
            </label>
            <div id="radius-hint" class="govuk-body govuk-!-margin-bottom-2">
              From release area
            </div>
            <select class="govuk-select" id="radius" name="radius">
              <option value="10" selected="">10 miles</option>
              <option value="1">1 mile</option>
              <option value="4">5 miles</option>
              <option value="20">20 miles</option>
              <option value="50">50 miles</option>
              <option value="1000">National</option>
            </select>
          </div>
        </div>

        <div class="filter-box-width-override-20">
          <div class="govuk-form-group">
            <label class="govuk-heading-s govuk-!-margin-bottom-1" for="release-area">
              Release area
            </label>
            <div id="release-area-hint" class="govuk-body govuk-!-margin-bottom-2">
              Default is probation office
            </div>
            <input class="govuk-input govuk-!-width-two-thirds" id="release-area" name="release-area" type="text" value="LS11 2AB">
          </div>
        </div>

      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <form method="post">
            <button class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
              Apply filters
            </button>
          </form>
        </div>
      </div>

    </div>