{% if matchedJobsResults.page.totalElements === 0 %}
  {% if jobSectorFilter.length %}
    <span class="govuk-heading-m">0 results in 
      {% for typeOfWork in jobSectorFilter %}
        <span>{{ contentLookup.fields.typeOfWork[typeOfWork] }}{{ ',' if loop.index !== jobSectorFilter.length }} </span>
      {% endfor %}
    </span>
  {% else %}
    <span class="govuk-heading-m">0 results</span>
  {% endif %}
  <p>To get more results, you can: </p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-5">
    <li>try a different search term</li>
    <li>change the area</li>
    <li>show more types of work</li>
    <li>remove offence exclusions</li>
  </ul>
{% endif %}