{% from "../../../../macros/cohortListFunctions.njk" import sortableTableHeader, supportNeeded, readyToWork, supportDeclined, noRightToWork, notStarted %}
{% from "../../../../macros/cohortListStatus.njk" import statusTag %}
{% from "../../../../macros/pagination/macro.njk" import pagination %}

<div id="offender-container">
    {% if prisonerSearchResults.content.length >= 1 %}
        <table id="view-offender" class="govuk-table view-offender">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "lastName",
                    headerText: "Prisoner"
                }) }}
                {{ sortableTableHeader({
                    sort: sort,
                    order: order,
                    formName: "prisoner-search-form",
                    fieldName: "jobTitle",
                    headerText: "Job"
                }) }}
                <th scope="col" class="govuk-table__header">Application status</th>
                <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
            </tr>
        </thead>

        <tbody class="govuk-table__body">
        {% set rowClass = cycler("odd", "even") %}

        {% for item in prisonerApplications %}
            <tr class="govuk-table__row {{ rowClass.next() }}">
                <td class="govuk-table__cell">
                    <a href="{{ addressLookup.candidateMatching.workProfile(item.prisonerNumber) }}"
                       rel="noopener noreferrer"
                       data-qa="quick-look-link"
                       aria-label="Profile link for {{ item.displayName }}"
                       class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ item.firstName }} {{ item.lastName }}</a>
                    </br><span class="govuk-hint govuk-!-margin-bottom-0">{{ item.prisonerNumber }}</span>
                </td>
                <td class="govuk-table__cell">
                    {{ item.jobTitle }}</br>
                    {{ item.employerName }}
                </td>
                <td class="govuk-table__cell">{{ contentLookup.applicationStatus[item.applicationStatus] }}</td>
                <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="{{ addressLookup.candidateMatching.manageApplication(item.prisonerNumber , item.jobId) }}">Update progress</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    {% endif %}

    {% if paginationData.results.count >= 1 and prisonerSearchResults.content.length >= 1 %}
        {{ pagination( paginationData ) }}
    {% else %}
        {% include './_notFoundMessages.njk' %}
    {% endif %}
</div>