{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set title = 'Right to work in the UK' %}

{#
Data supplied to this template:
  * backLocation - url of the back link
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">{{ title }}</h1>

        <p class="govuk-body">All British and Irish citizens have the right to work in the UK.</p>

        <p class="govuk-body">Non-British and Irish citizens have the right to work if they have:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>valid settled status in the UK</li>
          <li>a work visa</li>
          <li>indefinite leave to remain or enter (ILR or ILE) in the UK</li>
          <li>right of abode in the UK</li>
        </ul>

        <!-- <form class="form" action="/right-to-work-answer" method="post" novalidate> -->
        <form class="form" method="post" novalidate="">
          <div class="govuk-form-group">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          
            {{ govukRadios({
              name: "rightToWork",
              fieldset: {
                legend: {
                  text: "Does " + prisoner.firstName + " " + prisoner.lastName +" have the right to work in the UK?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "YES",
                  text: "Yes",
                  checked: rightToWork === 'YES'
                },
                {
                  value: "NO",
                  text: "No",
                  checked: rightToWork === 'NO'
                }
              ],
              errorMessage: error.rightToWork
            }) }}
          </div>

          {{ govukButton({
              text: "Continue",
              type: "submit"
            }) }}
        </form>
      </div>
    </div>

{% endblock %}