{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "What type of work is " + prisoner.firstName + " " + prisoner.lastName + " interested in?" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * typeOfWork - Array existing values for field
    * typeOfWorkDetails - Existing value
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(errors) }}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "typeOfWorkDetails",
              name: "typeOfWorkDetails",
              rows: "2",
              value: typeOfWorkDetails,
              type: "text",
              label: {
                text: "Give details"
              },
              errorMessage: errors.typeOfWorkDetails
            }) }}
          {% endset -%}

          {{ govukCheckboxes({
            name: "typeOfWork",
            fieldset: {
              legend: {
                  text: title,
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
              text: "Select all that apply."
            },
            items: [
              {
                value: "OUTDOOR",
                checked: typeOfWork.indexOf("OUTDOOR") > -1,
                text: "Animal care, farming and gardening",
                hint: {
                  text: "things like kennel worker, groundskeeper and farm work"
                }
              },
              { 
                value: "CONSTRUCTION",
                checked: typeOfWork.indexOf("CONSTRUCTION") > -1,
                text: "Construction and trade",
                hint: {
                  text: "things like bricklayer, plumber and site management"
                }
              },
              { 
                value: "DRIVING",
                checked: typeOfWork.indexOf("DRIVING") > -1,
                text: "Driving and transport",
                hint: {
                  text: "things like bus driver and rail or road maintenance"
                }
              },
              { 
                value: "BEAUTY",
                checked: typeOfWork.indexOf("BEAUTY") > -1,
                text: "Hair, beauty and wellbeing",
                hint: {
                  text: "things like nail technician, counsellor and barber"
                }
              },
              { 
                value: "HOSPITALITY",
                checked: typeOfWork.indexOf("HOSPITALITY") > -1,
                text: " Hospitality and catering",
                hint: {
                  text: "things like chef, mobile catering, hotel porter"
                }
              },
              { 
                value: "TECHNICAL",
                checked: typeOfWork.indexOf("TECHNICAL") > -1,
                text: "IT and digital",
                hint: {
                  text: "things like coding, web developer and IT support"
                }
              },
              { 
                value: "MANUFACTURING",
                checked: typeOfWork.indexOf("MANUFACTURING") > -1,
                text: "Manufacturing and technical",
                hint: {
                  text: "things like assembly line work, welding and maintenance"
                }
              },
              { 
                value: "OFFICE",
                checked: typeOfWork.indexOf("OFFICE") > -1,
                text: "Office or desk-based",
                hint: {
                  text: "things like administration, marketing assistant and office manager"
                }
              },
              { 
                value: "RETAIL",
                checked: typeOfWork.indexOf("RETAIL") > -1,
                text: "Retail and sales",
                hint: {
                  text: "things like sales assistant, customer service and store manager"
                }
              },
              { 
                value: "SPORTS",
                checked: typeOfWork.indexOf("SPORTS") > -1,
                text: "Sport and fitness",
                hint: {
                  text: "things like personal trainer and gym attendant"
                }
              },
              { 
                value: "EDUCATION_TRAINING",
                checked: typeOfWork.indexOf("EDUCATION_TRAINING") > -1,
                text: "Training, support and education",
                hint: {
                  text: "things like gardening or welding trainer and welfare rights support"
                }
              },
              { 
                value: "WAREHOUSING",
                checked: typeOfWork.indexOf("WAREHOUSING") > -1,
                text: "Warehousing and storage",
                hint: {
                  text: "things like removals and fork-lift driver"
                }
              },
              { 
                value: "WASTE_MANAGEMENT",
                checked: typeOfWork.indexOf("WASTE_MANAGEMENT") > -1,
                text: "Waste management",
                hint: {
                  text: "things like waste collection and recycling management"
                }
              },
              {
                value: "OTHER",
                checked: typeOfWork.indexOf("OTHER") > -1,
                text: "Other",
                conditional: {
                  html: otherHtml
                }
              }
            ],
             errorMessage: errors.typeOfWork
          }) }}

        </div>

        {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}