{% extends "../../../partials/layout.njk" %}
{% from "../../../partials/navBar.njk" import navBar with context %}
{% from "../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = contentLookup.fields.alreadyinPlace[toDoItem] %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * toDoStatus - existing value for field
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(errors) }}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          <span class="govuk-caption-l">
            {{ prisoner.firstName }} {{ prisoner.lastName }}
          </span>
        
          {{ govukRadios({
            name: "toDoStatus",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "NOT_STARTED",
                text: contentLookup.fields.toDoStatus["NOT_STARTED"],
                checked: toDoStatus === "NOT_STARTED"
              },
              {
                value: "IN_PROGRESS",
                text: contentLookup.fields.toDoStatus["IN_PROGRESS"],
                checked: toDoStatus === "IN_PROGRESS"
              },
              {
                value: "COMPLETE",
                text: contentLookup.fields.toDoStatus["COMPLETE"],
                checked: toDoStatus === "COMPLETE"
              }
            ],
            errorMessage: errors.toDoStatus
          }) }}
        </div>

        {{ govukButton({
            text: "Save Progress",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}