{% extends "../../../../partials/layout.njk" %}
{% from "../../../../partials/navBar.njk" import navBar with context %}
{% from "../../../../partials/breadCrumb.njk" import breadCrumb %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../../../../macros/error-summary/macro.njk" import errorSummary %}

{% set title = "Is " + prisoner.firstName + " " + prisoner.lastName + " interested in a particular job?" %}

{#
  Data supplied to this template:
    * backLocation - url of the back link
    * prisoner - object with firsName and lastName
    * jobOfParticularInterest - existing value for field
    * jobOfParticularInterestDetails - existing value for field
    * errors? - validation errors
#}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: backLocation, attributes: { "aria-label" : backLocationAriaText } }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ errorSummary(errors) }}

      <form class="form" method="post" novalidate="">
        <div class="govuk-form-group">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {% set otherHtml %}
            {{ govukTextarea({
              id: "jobOfParticularInterestDetails",
              name: "jobOfParticularInterestDetails",
              rows: "3",
              value: jobOfParticularInterestDetails,
              type: "text",
              label: {
                text: "Give details",
                attributes: { "aria-live": "polite" }
              },
              attributes: { "aria-label" : "Give details of any job you are interested in" },
              errorMessage: errors.jobOfParticularInterestDetails
            }) }}
          {% endset -%}
        
          {{ govukRadios({
            name: "jobOfParticularInterest",
            fieldset: {
              legend: {
                text: title,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "YES",
                text: contentLookup.fields.yesNo["YES"],
                checked: jobOfParticularInterest === "YES",
                attributes: { "aria-label": contentLookup.fields.yesNo["YES"] + " (Opens a dialogue box)" },
                conditional: {
                  html: otherHtml
                }
              },
              {
                value: "NO",
                text: contentLookup.fields.yesNo["NO"],
                checked: jobOfParticularInterest === "NO"
              }
            ],
            errorMessage: errors.jobOfParticularInterest
          }) }}
        </div>

        {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: {"data-qa": "submit-button"}
          }) }}
      </form>
    </div>
  </div>

{% endblock %}