<div class="govuk-form-group filter-box govuk-!-margin-top-4">
    <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
                Filter by
            </h2>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="prisonerNameFilter">
                        Prisoner's name
                    </label>
                    <input class="govuk-input" id="prisonerNameFilter" name="prisonerNameFilter" type="search" value="{{ prisonerNameFilter }}">
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="govuk-form-group">
                    <label class="govuk-label" for="typeOfWorkFilter">
                        Work types of interest
                    </label>
                    <select class="govuk-select" id="typeOfWorkFilter" name="typeOfWorkFilter">
                        <option value="" {{ "selected" if typeOfWorkFilter === "" }}>All types of work</option>
                        <option value="OUTDOOR" {{ "selected" if typeOfWorkFilter === "OUTDOOR" }}>Animal care and farming</option>
                        <option value="CLEANING_AND_MAINTENANCE" {{ "selected" if typeOfWorkFilter === "CLEANING_AND_MAINTENANCE" }}>Cleaning and maintenance</option>
                        <option value="CONSTRUCTION" {{ "selected" if typeOfWorkFilter === "CONSTRUCTION" }}>Construction and trade</option>
                        <option value="DRIVING" {{ "selected" if typeOfWorkFilter === "DRIVING" }}>Driving and transport</option>
                        <option value="BEAUTY" {{ "selected" if typeOfWorkFilter === "BEAUTY" }}>Hair, beauty and wellbeing</option>
                        <option value="HOSPITALITY" {{ "selected" if typeOfWorkFilter === "HOSPITALITY" }}>Hospitality and catering</option>
                        <option value="TECHNICAL" {{ "selected" if typeOfWorkFilter === "TECHNICAL" }}>IT and digital</option>
                        <option value="MANUFACTURING" {{ "selected" if typeOfWorkFilter === "MANUFACTURING" }}>Manufacturing and technical</option>
                        <option value="OFFICE" {{ "selected" if typeOfWorkFilter === "OFFICE" }}>Office or desk-based</option>
                        <option value="RETAIL" {{ "selected" if typeOfWorkFilter === "RETAIL" }}>Retail and sales</option>
                        <option value="SPORTS" {{ "selected" if typeOfWorkFilter === "SPORTS" }}>Sport and fitness</option>
                        <option value="WAREHOUSING" {{ "selected" if typeOfWorkFilter === "WAREHOUSING" }}>Warehousing and storage</option>
                        <option value="EDUCATION_TRAINING" {{ "selected" if typeOfWorkFilter === "EDUCATION_TRAINING" }}>Training and support</option>
                        <option value="WASTE_MANAGEMENT" {{ "selected" if typeOfWorkFilter === "WASTE_MANAGEMENT" }}>Waste management</option>
                        <option value="OTHER" {{ "selected" if typeOfWorkFilter === "OTHER" }}>Other</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-checkboxes govuk-checkboxes--small govuk-!-margin-top-3" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="showNeedsSupportFilter" name="showNeedsSupportFilter" type="checkbox" value="Show prisoners who need support" {{ "checked" if showNeedsSupportFilter === true }}>
                        <label class="govuk-label govuk-checkboxes__label" for="showNeedsSupportFilter">
                            Show prisoners who 'Need support'
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
                <div class="govuk-button-group govuk-!-margin-top-3 govuk-!-margin-bottom-0">
                    <button class="govuk-button" data-module="govuk-button" id="applyFiltersButton">
                        Apply filters
                    </button>
                    {% if filtered %}
                        <a class="govuk-link" id="filter-clear-link" href="{{ addressLookup.candidateMatching.prisonerListMatchJobs() }}">Clear</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>