{% if prisonerSearchResults.content.length >= 1 %}
  <h3 class="govuk-heading-s">{{ prisonerSearchResults.totalElements }} results</h3>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}