<h2 class="govuk-heading-m">Things that may affect their ability to work</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Potential affect on ability to work
    </dt>
    <dd class="govuk-summary-list__value">
      {% for item in record.abilityToWork %}
        <div>{{ contentLookup.fields.abilityToWork[item] }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.abilityToWork(id, 'edit') }}">
        Change<span class="govuk-visually-hidden"> </span>
      </a>
    </dd>
  </div>

  {% if record.abilityToWork.indexOf('DEPENDENCY_ISSUES') > -1 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Drug or alcohol dependency
      </dt>
      <dd class="govuk-summary-list__value">
        {{ contentLookup.fields.manageDrugsAndAlcohol[record.manageDrugsAndAlcohol] if record.manageDrugsAndAlcohol }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ addressLookup.createProfile.manageDrugsAndAlcohol(id, 'edit') }}">
          Change<span class="govuk-visually-hidden"> </span>
        </a>
      </dd>
    </div>
  {% endif %}

</dl>