<h2 class="govuk-heading-m">Things that may affect their ability to work</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Potential affect on ability to work
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q4-might-be-impacted-by">
        Change<span class="govuk-visually-hidden"> </span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Drug or alcohol dependency
    </dt>
    <dd class="govuk-summary-list__value">
      
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q4c-dependency">
        Change<span class="govuk-visually-hidden"> </span>
      </a>
    </dd>
  </div>

</dl>