<h2 class="govuk-heading-m">Things they have in place already</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Has already got
    </dt>
    <dd class="govuk-summary-list__value">
      {{ record.alreadyInPlace }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q3-has-already-got">
        Change<span class="govuk-visually-hidden"> things they have in place already</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Type of ID
    </dt>
    <dd class="govuk-summary-list__value">
      {{ record.identification }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q3a-ID-type">
        Change<span class="govuk-visually-hidden"> type of ID they have</span>
      </a>
    </dd>
  </div>
</dl>