<h2 class="govuk-heading-m">Things they have in place already</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Has already got
    </dt>
    <dd class="govuk-summary-list__value" data-test="alreadyInPlace">
      {% for item in record.alreadyInPlace %}
        <div>{{ contentLookup.fields.alreadyInPlace[item] }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.alreadyInPlace(id, 'edit') }}" data-test="alreadyInPlaceLink">
        Change<span class="govuk-visually-hidden"> things they have in place already</span>
      </a>
    </dd>
  </div>

  {% if record.alreadyInPlace.indexOf('ID') > -1 %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Type of ID
      </dt>
      <dd class="govuk-summary-list__value" data-test="identification">
        {% for item in record.identification %}
          <div>{{ contentLookup.fields.identification[item] }}</div>
        {% endfor %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="{{ addressLookup.createProfile.identification(id, 'edit') + '?from=' + originalUrl }}" data-test="identificationLink">
          Change<span class="govuk-visually-hidden"> type of ID they have</span>
        </a>
      </dd>
    </div>
  {% endif %}

</dl>