<h2 class="govuk-heading-m">Eligibility for support</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Right to work
    </dt>
    <dd class="govuk-summary-list__value">
      {{ record.rightToWork }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q1-right-to-work">
        Change<span class="govuk-visually-hidden"> right to work</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Wants support to get work
    </dt>
    <dd class="govuk-summary-list__value">
      {{ record.supportOptIn }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="q2-opt-in-for-support">
        Change<span class="govuk-visually-hidden"> whether they want support</span>
      </a>
    </dd>
  </div>

</dl>