<h2 class="govuk-heading-m">Work-related information</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Work types of interest
    </dt>
    <dd class="govuk-summary-list__value" data-qa="typeOfWork">
      {% for item in record.typeOfWork %}
        <div>{{ contentLookup.fields.typeOfWork[item] }}{{ ' - ' + record.typeOfWorkDetails if item === 'OTHER' }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.typeOfWork(id, 'edit') }}" data-qa="typeOfWorkLink">
        Change<span class="govuk-visually-hidden"> work types of interest</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Particular job of interest
    </dt>
    <dd class="govuk-summary-list__value" data-qa="jobOfParticularInterest">
      {{ contentLookup.fields.yesNo[record.jobOfParticularInterest] }}{{ ' - ' + record.jobOfParticularInterestDetails if record.jobOfParticularInterest === 'YES' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.jobOfParticularInterest(id, 'edit') }}" data-qa="jobOfParticularInterestLink">
        Change<span class="govuk-visually-hidden"> particular job of interest</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Work or volunteering experience
    </dt>
    <dd class="govuk-summary-list__value" data-qa="workExperience">
      {{ contentLookup.fields.yesNo[record.workExperience] }}{{ ' - ' + record.workExperienceDetails if record.workExperience === 'YES' }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.workExperience(id, 'edit') }}" data-qa="workExperienceLink">
        Change<span class="govuk-visually-hidden"> work or volunteering experience</span>
      </a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Qualifications and training
    </dt>
    <dd class="govuk-summary-list__value" data-qa="trainingAndQualifications">
      {% for item in record.trainingAndQualifications %}
        <div>{{ contentLookup.fields.trainingAndQualifications[item] }}{{ ' - ' + record.trainingAndQualificationsDetails if item === 'OTHER' }}</div>
      {% endfor %}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="{{ addressLookup.createProfile.trainingAndQualifications(id, 'edit') }}" data-qa="trainingAndQualificationsLink">
        Change<span class="govuk-visually-hidden"> qualifications and training</span>
      </a>
    </dd>
  </div>
</dl>